<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stroopsub">
      <h2 data-cy="stroopsubDetailsHeading"><span>Stroopsub</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ stroopsub.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ stroopsub.name }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ stroopsub.amount }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ stroopsub.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/stroopsub', stroopsub.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
